html, body {
    width: 100%;
    /* height: 100%; */
    /* position: relative; */
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
    font-family: sans-serif;
}

.content-wrap {
    max-width: 800px;
    background-color: #e0e0e0;
    margin: 1.5em auto;
    padding: 1em;
}

h2 {
    margin-top: 1.2em;
    margin-bottom: 0;
}
.privacy-notice {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    font-size: small;
}
