html, body {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    /* overflow: hidden; */
}

.begin-form, #cont_button, #begin_button {
    display: flex;
    justify-content: center;
}
#cont_button {
    margin: 0.5rem auto;
}

#timer {
    text-align: center;
}

#ex, .slideshow-img:not([hidden]) {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    white-space: nowrap;
}

ul, li {
    list-style: none;
    display: inline;
}

#experiment, #test {
    margin-top: 20px;
}

#images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#images img {
    width: 11em;
    height: 11em;
}
