html, body {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
    overflow: hidden;
}

.begin-form {
    display: flex;
    justify-content: center;
}

.image {
    justify-content: center;
}