:root {
    --dotted-line-color: rgb(138, 51, 219);

    /* Force light theme */
    --bg: #FFF;
    --accent-bg: #F5F7FF;
    --text: #212121;
    --text-light: #585858;
    --border: #D8DAE1;
    --accent: #0D47A1;
    --accent-light: #90CAF9;
    --code: #D81B60;
    --preformatted: #444;
    --marked: #FFDD33;
    --disabled: #EFEFEF;
}

body {
    font-family: sans-serif;
    background-color: white;
    color: black;
}

html.experiment, html.experiment body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    /* overflow: hidden; */
}

#intro {
    max-width: 25rem;
    margin: auto;
    line-height: 1.4em;
}
#intro h2 {
    text-align: center;
    margin-block-start: 0;
    padding-block-start: 0.83em;
}
#intro li {
    margin-bottom: 0.5em;
}
body:not(.intro) #intro {
    display: none;
}

#submit-form {
    display: none;
}

#experiment-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    --aspect-ratio: calc(4/3);
    --height: calc(min(100vh, 100vw / var(--aspect-ratio)));
    width: calc(var(--height) * var(--aspect-ratio));
    height: var(--height);
}
body.intro #experiment-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 3px var(--dotted-line-color) dotted;
}
.dotted-color {
    color: var(--dotted-line-color);
}

body.intro #crosshair {
    background-color: rgba(255, 255, 255, 0.75);
}
#crosshair {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    pointer-events: none;
}
body:not(.stopped) #crosshair::before {
    content: '+';
    font-size: 2em;
}

#crosshair .stopped-message {
    display: none;
    text-align: center;
}
body.stopped:not(.submitting) #crosshair .stopped-message {
    display: inline-block;
}
body.stopped #crosshair {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 0.25em;
    border-radius: 0.25em;
}
body.stopped.submitting #crosshair::before {
    content: 'Please wait...';
}

body.intro .circle {
    display: none;
}
.circle {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: rgb(119, 119, 119);
    /* filter: blur(5px); */
    z-index: 1;
}
body.stopped .circle:hover {
    opacity: 0.5;
}

.circle-demo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 1em 0;
}
.circle-demo > div {
    margin: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle-demo > div p {
    text-align: center;
    margin-bottom: 0;
}
.circle-demo .circle {
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
}

.begin-form {
    display: flex;
    justify-content: center;
}
