body {
    font-family: sans-serif;
}

html.experiment, html.experiment body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    /* overflow: hidden; */
}

body.intro {
    display: flex;
    justify-content: center;
    align-items: center;
}
#intro {
    text-align: center;
}
body:not(.intro) #intro {
    display: none;
}

body.intro #crosshair {
    display: none;
}
#crosshair {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    pointer-events: none;
}
body:not(.stopped) #crosshair::before {
    content: '+';
}

body.stopped #crosshair::before {
    content: 'click the circle that blinked';
}
body.stopped #crosshair {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 0.25em;
    border-radius: 0.25em;
}

.circle {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6.5em;
    height: 6.5em;
    border-radius: 50%;
    background-color: rgb(119, 119, 119);
    /* filter: blur(5px); */
    z-index: 1;
}
body.stopped .circle:hover {
    opacity: 0.5;
}

.circle-demo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 1em 0;
}
.circle-demo > div {
    margin: 0 1em;
}
.circle-demo > div p {
    text-align: center;
    margin-bottom: 0;
}
.circle-demo .circle {
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
}

.begin-form {
    display: flex;
    justify-content: center;
}
