/* from Bootstrap */
.success-banner, .warning-banner {
    position: relative;
    padding: .75rem 1.25rem;
    margin: 1rem 0;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.warning-banner {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}
.success-banner {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.completed-experiments {
    opacity: 0.6;
}
